{% extends "index.html" %}

{%block cardtitulo%}
Crear cliente
{%endblock%}


{% block body %}


<form method="POST" >

    <div class="container">
       
       {{ field.errors }}
       {% for field in formulario.visible_fields %}
       
       {{ field.label_tag }} {{ field }}
       <div class="input-field col s12">
           {{field.genero}}
        </div>
       {%endfor%}

        
        {% csrf_token %}
        <br/>
        <input type="submit" value="Guardar" class="btn waves-effect waves-light">
    </div>

</form>
{% endblock%}
