{% extends "index.html" %}
{% block tittle %}
Confirmacion
{% endblock %}
{%block cardtitulo%}
Confirmar eliminacion de registro
{% endblock %}
{% block body %}
<form method="POST" class="mt-4 mb-4">
    <div class="container">
        {% csrf_token %}
        <input type="submit" value="Eliminar" class="btn waves-effect waves-light">
        <a href="{% url 'principal' %}" class="btn waves-effect waves-light">Cancelar</a>
    </div>
</form>
{% endblock%}