<h1>HEADER</h1>
{% for msg in messages %}
    <div class="alert alert-{{msg.lavel_tag}}" role=alert>
        {{msg.message}}
    </div>
{% endfor %}

{% if user.is_authenticated %}
    <h1> bienvenido {{user.username}} </h1><br/>
    <a href="{% url 'logout' %}">cerrar Sesion</a>
{%endif %}



