
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% load staticfiles %}
    <meta charset="utf-8">

    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <title></title>
  </head>
  <body>
    {% include "header.html" %}

    {% block body %}
    {% endblock %}

    {% include "footer.html" %}

  </body>
</html>
