{% extends "index.html" %}
{% load staticfiles %}


{% block tittle %}
Tabla de datos
{% endblock %}
{%block cardtitulo%}
DATOS
{% endblock %}
{% block body %}
<div >
<form >
    <div >
      <!-- <img src= "{% static 'img/imagenPrueba.jpg'%}">-->
        <table >
            <thead >
                <tr>
                    <th colspan="5">
                        <h2>Clientes</h2>
                    </th>
                </tr>
                <tr>
                    <th>
                        Cédula
                    </th>

                    <th>
                        Nombres
                    </th>

                    <th>
                        Apellidos
                    </th>

                    <th>
                        Género
                    </th>
                    <th>
                        Acciones
                    </th>
                </tr>
            </thead>
            <tbody class="table-active">
                {% for i in lista%}
                <tr>
                    <td>
                        {{i.cedula}}

                    </td>
                    <td>
                        {{i.nombres}}
                    </td>
                    <td>
                        {{i.apellidos}}
                    </td>
                    <td>
                        {{i.genero}}
                    </td>
                    <td>
                        <a href="modificar?cedula={{i.cedula}}" class="btn waves-effect waves-light">
                            Modificar
                        </a>
                        
                        
                        
                         <a class="btn waves-effect waves-light" href="eliminar?cedula={{i.cedula}}">
                            eliminar
                        </a>
                        
                  
                        
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</form>
</div>
{% endblock%}
