{%extends 'index.html'%}

{%block body%}

{% include '../header.html'%}

<form method="POST" >
    <div class="container">
       {% for field in f.visible_fields %}
       {{ field.label_tag }} {{ field }}
       {%endfor%}
       {% csrf_token %}
        <br/>
        <input type="submit" value="Guardar" class="btn waves-effect waves-light">
        
    </div>
</form>


{%endblock%}





